{% extends "base.html" %}

{% block content %}

<div class="container text-muted pt-3 pb-3">
    <h2><i class="fas fa-history"></i> 履歴入力 食品選択 </h2>
    <!--プログレスバー-->
    <div class="progress mb-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-30" role="progressbar" aria-valuenow="30"  aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        0%</div>
    </div>
    <p>食べた食品を選択してください。</p>
</div>

<div class="container table-responsive pt-2 pb-4">
    <form action="{% url 'lognuts:history_input' user.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" id="submit_button" class="btn btn-danger mt-3 mb-5 ml-3">送信</button>
        <table class="table table-hover">
        <thead>
            <tr>
            {% for c in columns %}
                <th scope="col" class="text-nowrap">{{ c }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in personal_log_history %}
            <tr>
                <td><input type="checkbox" name="personal_log_id" value="{{row.id}}"></td>
                <td>{{row.restaurant}}</td>
                <td>{{row.food_name}}</td>
                <td>{{row.size}}</td>
            </tr>
            {% empty %}
                <p class="box">検索結果はありませんでした。</p>
            {% endfor %}
        </tbody>
        </table>
    </form>
</div>

<!-- 行をクリックすると先頭のinputにチェックを入れる -->
<script type="text/javascript">
$(function(){
    var $trList = $("tr:has(input)");			//trでinputタグをもつものを取得
    $trList.each(function() {					//取得したtrタグそれぞれに処理を行う
        var $input = $(this).find("input");		//trからinputタグを取得しておく。
        $(this).click(function(){
            $input.prop('checked',true);
        });
    });
});
</script>

{% endblock %}