{% extends "base.html" %}

{% block content %}

<div class="container text-muted pt-3 pb-3">
    <h2>マイページ</h2>
</div>

<div class="container lead pt-3 pb-3">
    {% if user and not user.is_anonymous %}
        <p>ようこそ</p>
    {% else %}
        <p>ログインして下さい.</p>
    {% endif %}
</div>

<div class="container pt-2 pb-2">
    <h3 class="text-muted"> 食事ログの入力 </h3>

    <div class="row mt-3 mb-5 text-center">
        <button type="button" disabled class="btn btn-lg btn-info ml-4 mt-3"
        onclick="location.href=''">
            <i class="fas fa-receipt text-white"></i>　レシート
        </button>

        <button type="button" class="btn btn-lg btn-info ml-4 mt-3"
        onclick="location.href='{% url 'lognuts:search_input' user.pk %}'">
            <i class="fas fa-search text-white"></i>　検索入力
        </button>

        <button type="button" class="btn btn-lg btn-info ml-4 mt-3"
        onclick="location.href=''">
            <i class="fas fa-pen text-white"></i>　手動入力
        </button>

        <button type="button" class="btn btn-lg btn-info ml-4 mt-3"
        onclick="location.href=''">
            <i class="fas fa-history text-white"></i>　履歴入力
        </button>
    </div>
</div>

<div class="container table-responsive pt-2 pb-5">
    <h3 class="text-muted"> 食事ログカレンダー </h3>

    <div class="text-center pb-3">
    <a class="pr-4" href="{% url 'lognuts:mypage' user.pk week_previous.year week_previous.month week_previous.day %}">
    <button type="button" class="btn btn-info btn-xs"><i class="fas fa-angle-double-left"></i> 前の週</button>
    </a>
     {{ week_first | date:"m月d日" }}〜{{ week_last | date:"m月d日" }}
    <a class="pl-4" href="{% url 'lognuts:mypage' user.pk week_next.year week_next.month week_next.day %}">
    <button type="button" class="btn btn-info btn-xs">後の週 <i class="fas fa-angle-double-right"></i></button>
    </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            {% for c in calendar_col %}
                <th>{{ c }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        
        {% for day in week_days %}
            {% if now == day %}
            <tr class="table-info">
            {% else %}
            <tr>
            {% endif %}
                <!--日付-->
                <td>
                {{ day | date:"m/d" }}
                </td>
                
                <!--食事ログ-->
                <td>
                {% for p in PersonalLog %}
                    {% if day.month == p.date.month and day.day == p.date.day %}
                        {{p.food_name}}<br>
                    {% endif %}
                {% endfor %}
                </td>

            </tr>

        {% endfor %}
        
        </tbody>
    </table>
</div>


{% endblock content %}
