{% extends "base.html" %}

{% block content %}

<div class="container text-muted pt-3 pb-3">
    <h2><i class="fas fa-search"></i> 検索入力 完了</h2>
    <p>以下の食事ログを記録しました。</p>
</div>


<div class="container table-responsive pt-2 pb-4">
    <table class="table table-hover">
      <thead>
        <tr>
          {% for c in columns %}
            <th scope="col" class="text-nowrap">{{ c }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{p_log.date}}</td>
          <td>{{p_log.restaurant}}</td>
          <td>{{p_log.food_name}}</td>
          <td>{{p_log.size}}</td>
          <td>{{p_log.energie}}</td>
          <td>{{p_log.protein}}</td>
          <td>{{p_log.fat}}</td>
          <td>{{p_log.carbohydrate}}</td>
          <td>{{p_log.salt}}</td>
        </tr>
      </tbody>
    </table>

    <a href="{% url 'lognuts:mypage' user.pk %}">
        <button type="submit" class="btn btn-danger ml-3">マイページへ</button>
    </a>
</div>

{% endblock content %}
