{% extends "base.html" %}

{% block content %}

<div class="container text-muted pt-3 pb-2">
    <h2><i class="fas fa-search"></i> 検索入力 </h2>
    <!--プログレスバー-->
    <div class="progress mb-2">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-30" role="progressbar" aria-valuenow="30"  aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        0%</div>
    </div>
    <p>店名や食品名で食品を検索します。</p>
</div>


<div class="container pt-2 pb-4">
    <form action="{% url 'lognuts:search_input' user.pk %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" id="submit_button" class="btn btn-danger mt-3 mb-5">送信</button>
    </form>
</div>

{% endblock content %}
